<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.costumer.name"></h1>
    Address: {{vm.costumer.address}}<br/>
    State: {{vm.costumer.state}}<br/>
    Country: {{vm.costumer.country}}<br/>
  </div>
  <div class="pull-right"
       data-ng-show="vm.costumer.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="costumers.edit({ costumerId: vm.costumer._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.costumer.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.costumer.user"
            data-ng-bind="vm.costumer.user.displayName"></span>
      <span data-ng-if="!vm.costumer.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.costumer.content"></p>
</section>
